<section class ="header">
    <div class = "books" ><h1>Books</h1></div>
    <div class ="links">
        <a routerLink="/home" routerLinkActive = "active">Home</a>
        <a routerLink="form-register" routerLinkActive = "active">Register</a>
        <a routerLink= "/profile" routerLinkActive = "active">Profile</a>
        <a routerLink ="/books" routerLinkActive = "active"> Books</a>
        <a routerLink = "/addBook" routerLinkActive = "active">AddBook</a>
        <a routerLink = "/modifBook" routerLinkActive = "active">UpdateBook</a>
        <a routerLink = "/login" routerLinkActive = "active"> Login</a>
    </div>
</section>
