
<section class = "holder">
    <div class = "buscador">
        <input type="text" name="" id="" #newID >
        <button type = "button" (click)="encontrado(newID)">search</button>
    </div>
    <div class="body">
            <ng-container *ngFor="let book of myArrBook2; let i = index; let par = even "  >

          <app-card [booksFather] = "book" (eliminarLibro) ="borrar($event)"></app-card>
    </ng-container>
    <div *ngIf="myArrBook2.length === 0" >No hay libros</div>
</div>

    


</section>
