<section class ="register">
    <div class ="margin"></div>
    <div class="formularios">
        <h1 > Registrate</h1>
        <input type="name" placeholder="name" id="nameID">
        <input type="surname" placeholder="surname" id="surnameID">
        <input type="e-mail" placeholder="e-mail" id="e-mailID">
        <input type="url" placeholder="url" id="urlID" >
        <input type="password" placeholder="password" id="passwordID">
        <input type="repeatPassword" placeholder="Repeat Password" id="repeatID">
 
        <button class="boton" style="width: 100px;" onclick="peliculaInput()" >Submit</button>
    </div>
    <div class ="margin"></div>
</section>
